<%- include('partials/header') %>

<h1 class="heading">Random Cat image :3</h1>
<button class="refresh-button" onclick="window.location.reload()"><i class="fa-solid fa-rotate-right"></i></button>

<div class="cat-image">
    <img src="<%= catImage %>">
</div>

<%- include('partials/footer') %>