<%- include('partials/header') %>

<h1 class="error-heading">Uh Oh! Looks like this page doesn't exist.</h1>
<p class="error-text">Visit our <a href="/">home page</a></p>


<%- include('partials/footer') %>