<%- include('partials/header') %>

    <h1 class="heading">Welcome to All-Stuff-API</h1>
    <div class="home-section">
        <h2 class="heading-2">
            We offer these <strong>yet</strong>:
        </h2>
        <ul class="list">
            <li class="list-item"><a href="/cats">Cats</a></li>
        </ul>
    </div>

<%- include('partials/footer') %>