@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

body {
    text-align: center;
    font-family: 'Kanit', sans-serif;
}

.list-item {
    text-decoration: none;
    list-style: none;
    transition: 0.5s;
}

.list-item a {
    font-size: 20px;
    color: rgb(185, 77, 77);
    text-decoration: none;
    transition: 0.5s;
}

.list-item:hover {
    transition: 0.5s;
    transform: translateX(-5px);
}

.refresh-button {
    background-color: rgb(90, 90, 225);
    height: 2rem;
    width: 4rem;
    border-radius: 20px;
    color: white;
}

.cat-image {
    padding-top: 10px;
}